* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

#img-box{
  position: relative;
}
a{
  list-style: none;
  text-decoration: none;
  color: white;
}

h1{
  text-align: center;
  margin: 50px auto;
  color: #283491;
}

footer{
  display: block;
  color: #283491;
  text-align: center;
  
}
@media screen and (max-width: 600px){
  footer {
    margin-top: 53vh;
  }
}

.container {
  width: 600px;
  height: 400px;
  background-color: #cccccc;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
@media screen and (min-width: 600px){
  .container {
    width: 1000px;
    flex-direction: row;
  }
}

.col {
  height: auto;
  flex: 1;
  color: #ffffff;
  box-sizing: border-box;
  padding: 25px;
  position: relative;
  transition: 0.5s;
}

.col:nth-child(1) {
  background-color: #283491;
}

.col:nth-child(2) {
  background-color: #2b7cc9;
}

.col:nth-child(3) {
  background-color: #6ee2f1;
}

h2 {
  text-align: left;
  font-size: 22px;
  font-weight: 600;
}
@media screen and (min-width: 600px){
  h2 {
    text-align: center;
  }
}
.caption {
  max-width: 230px;
  font-size: 12px;
  margin: 28px 0;
  display: none;

}

.caption button {
  border: 1px solid #ffffff;
  background-color: transparent;
  outline: none;
  padding: 8px 18px;
  color: #ffffff;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 12px;
}

.col img {
  width: 100px;
  
}
@media screen and (min-width: 600px){
  .col img{
    width: 200px;
    right: 0;
    bottom: 0;
    position: absolute;
  }
}
.col:hover {
  flex-grow: 2.5;
}

.col:hover .caption{
  display: block;
}

.col:hover h2 {
  text-align: left;
}

 .popup, .popup2 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: #283491;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out; 
  padding: 50px 10px;
  margin: 0;
  font-size: 14px;
  line-height: 25px;
}

.close {
  position: absolute;
  right: 10%;
  top: 1%;
  width: 30px;
  height: 30px;
  background: #283491;
  color: fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 31px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}  

.close2 {
  position: absolute;
  right: 10%;
  top: 2%;
  width: 30px;
  height: 30px;
  background: #283491;
  color: fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 31px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}  

.popup:target, .popup2:target{
  visibility: visible;
  opacity: 0.9;
}

.ascuns {
  padding-left: 20px;
}
